/* Footer.css */

.footer {
  background-color: var(--accent-color);
  color: #f8f8f8;
  padding: 50px 20px;
  z-index: 100;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin-bottom: 20px;
  padding: 0 20px; /* Added padding for better spacing */
}

.footer-section-about {
  flex: 1;
  margin-bottom: 20px;
  padding: 0 20px;
  margin-right: 50px;
  font-size: 1.1em;
}

.footer-logo {
  max-width: 250px; /* Adjust the size as needed */
  margin-top: 30px;
  color: var(--accent-color);
}

.footer-section-h3 {
  font-size: 1.5em;
  margin-bottom: 10px !important;
}

.footer-section-ul,
.footer-section li,
.footer-section a {
  font-size: 1.1em;
  color: #f8f8f8;
}

.footer-content-p {
  padding: 0 !important;
  line-height: 1.3 !important;
}

.footer-section-ul {
  list-style: none;
  padding: 0;
  line-height: 1.3 !important;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #ffd900 !important;
}

.footer-section-span {
  display: block !important;
  margin-bottom: 10px !important;
  font-size: 1.1em !important;
  color: #f8f8f8 !important;
  line-height: 1.3 !important;
}

.footer-section.links ul {
  list-style-type: none;
  padding: 0;
}

.footer-section.links li {
  margin-bottom: 8px;
}

.footer-section.links a {
  color: #f8f8f8;
  text-decoration: none;
}





.social-svg {
  color: var(--supporting-color);
}

.footer-section.social-icons {
  display: flex;
  gap: 10px;
}

.footer-section .social-icons img,
.footer-section .social-icons .social-svg {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.footer-section .social-icons a:hover img,
.footer-section .social-icons a:hover .social-svg {
  transform: scale(1.2);  
}










.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px solid #f8f8f8;
}

.footer-bottom p {
  font-size: 0.9em;
}
