.booking-section {
  padding: 50px 20px 100px;
  text-align: center;
  background-color: #fcdf5a;
}

.booking-container {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.booking-container h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  margin-top: 0;
  color: #024001;
}

.booking-subtitle {
  font-size: 1.2em;
  color: #024001;
  margin-bottom: 20px;
}

form.horizontal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.form-group {
  flex: 1;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #024001;
  font-size: 1.2em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  width: calc(100% - 40px);
  padding: 10px;
  border: 2px solid #fcdf5a;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  font-family: inherit;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus {
  border-color: #024001 !important;
  outline: none;
}

.booking-section button {
  background-color: #fcdf5a;
  color: #024001;
  font-weight: bold;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  border: 2px solid #024001;
  cursor: pointer;
  font-size: 1em;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.booking-section button:hover {
  background-color: #024001;
  color: #fcdf5a;
  border: 2px solid #024001;
  transform: scale(1.05);
}
