.company-map-container {
  padding: 50px 20px 100px;
  text-align: center;
  background-color: #fffafa;
}

/* Header Section */
.header-section {
  text-align: center;
  margin-bottom: 40px;
}

.company-map-container h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.5em;
  margin-bottom: 10px;
  margin-top: 0px;
  color: var(--accent-color);
}

.company-map-container p {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: var(--accent-color);
}

.map-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding-top: 0px;
}

.map-section {
  flex: 1;
  min-width: 300px;
}

.map-responsive {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 450px;
  margin: 0 auto;
  border: 5px solid var(--accent-color);
  border-radius: 24px;
  box-sizing: border-box;
}

.map-responsive iframe {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  border: 0;
}

/* Info section */
.info-section {
  flex: 0.5;
  border-left: 5px solid var(--accent-color);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0px;
  color: var(--accent-color);
  text-align: left;
  border-radius: 5px;
}

.info-section h3,
.info-section h4 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.info-section h3 {
  margin-top: 0px;
}

.info-section p {
  margin-bottom: 8px;
  font-size: 1.2rem;
}

.info-section a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease;
}

.info-section a:hover {
  color: #ffd900 !important;
}

.social-links {
  display: flex;
  gap: 0px;
  justify-content: flex-start;
}

.company-map-container .social-links .social-icon {
  width: 40px;
  height: 40px;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.company-map-container .social-links .social-icon:hover {
  transform: scale(1.2);
}

@media (max-width: 900px) {
  .map-info-container {
    flex-direction: column;
    align-items: center;
  }

  .map-section {
    margin-bottom: 20px;
    min-width: 100%;
  }

  .info-section {
    padding-left: 20px;
  }
}
