@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Default */
:root {
  --accent-color: #074609;
  --supporting-color: #133c09;
  --light-color: #ffffff;
}

/* Lime */
:root[data-theme="clover"] {
  --accent-color: #28a745;
  --supporting-color: #218838;
  --light-color: #f1f1f1;
}

/* November */
:root[data-theme="november"] {
  --accent-color: #b3541e;
  --supporting-color: #8c3a13;
  --light-color: #fff8f0;
}

/* December*/
:root[data-theme="december"] {
  --accent-color: #b3001b;
  --supporting-color: #0d4d1a;
  --light-color: #f9f9f9;
}
