

.our-fleet {
  padding: 50px 20px 100px;
  text-align: center;
  background-color: #fff;
}

.our-fleet h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
text-transform: uppercase;
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 0;
  color: var(--accent-color);
}

.fleet-description {
  font-size: 1.2em;
  color: var(--accent-color);
  margin-bottom: 40px;
}

.fleet-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  color: var(--accent-color);
}

.fleet-card {
  background: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  width: 400px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  overflow: hidden;
  padding: 0; /* Remove padding to avoid extra space */
  margin: 0;
  position: relative;
}

.fleet-card:hover {
  border-color: var(--accent-color);
  transform: scale(1.05);
}

.fleet-card .img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 5px 5px 0 0;
}

.fleet-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.fleet-card:hover .img-container img {
  transform: scale(1.05);
}

/* Gradient overlay container */
.fleet-card .content-overlay {
  position: relative;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0.4) 85%,
    rgba(255, 255, 255, 0.2) 95%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 20px;
  border-radius: 0 0 5px 5px;
  z-index: 2;
  margin-top: 140px;

  /* Make it take up all available space */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Ensures text grows naturally while pushing the button down */
.fleet-card .content-wrapper {
  flex-grow: 1;
}

.fleet-card h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.fleet-card p {
  font-size: 1em;
  color: var(--accent-color);
  margin-bottom: 15px;
}

/* Ensure the button is always aligned at the bottom */
.fleet-card .view-details {
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 10px; /* Pushes button to the bottom */
  align-self: center;
}

.fleet-card:hover .view-details {
  background-color: #fff;
  border-color: var(--accent-color);
  color: var(--accent-color);
  transform: scale(1.05);
}
