body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.admin-dashboard {
  width: 100%;
}

.dashboard-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 20px;
  box-sizing: border-box;
}
